.explore-ingredients-page {
  margin-bottom: 80px;
}

.explore-ingredients-page h1 {
  text-align: center;
  padding-top: 20px;
}

.explore-ingredients-page .recipes-container {
  grid-template-columns: repeat(4, 1fr);
  margin: 60px auto 0;
  padding: 0 40px;
}

.explore-ingredients-page .recipe-card img {
  height: 20vw;
  object-fit: cover;
}

@media (max-width: 800px) {
  .explore-ingredients-page .recipes-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .explore-ingredients-page h1 {
    font-size: 24px;
  }

  .explore-ingredients-page .recipes-container {
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
  }
}

