.paging-container {
  margin: 20px 0;
  padding: 20px;

  display: flex;
  justify-content: center;
}

.paging-container button:first-child {
  margin-right: 16px;
}

.paging-container button:last-child {
  margin-left: 16px;
}

.paging-container .single-paging {
  margin: 0 6px;
}

.paging-container .single-paging span,
.paging-container button {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  color: #fff;
}

.paging-container .single-paging span {
  background-color: var(--main-color);
  cursor: pointer;
}

.paging-container .single-paging input:not(:checked) ~ span:hover {
  background-color: var(--secondary-color);
}

.paging-container .single-paging input:checked ~ span {
  background-color: var(--bright-red);
  cursor: default;
}

.paging-container input[type=radio] {
  display: none;
}

.paging-container button {
  border: none;
  outline: none;
  background-color: var(--secondary-color);
}
