.recipes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 40px;

  max-width: 1200px;
  margin: 0 auto;
}

.recipes-container .recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 5px;
  border: 1px solid black;
  padding-bottom: 15px;
  color: #000;

  transition: opacity 0.2s;
}

.recipes-container .recipe-card:hover {
  opacity: 0.7;
  color: var(--main-color)
}

.recipes-container .recipe-card img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  margin-bottom: 10px;
}

.recipes-container .recipe-card strong {
  text-align: center;
}

@media (max-width: 800px) {
  .recipes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {

  .recipes-container {
    grid-template-columns: 1fr;
  }

  .recipes-container .recipe-card img {
    height: 20vh;
  }
}
