.zero-recipes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.zero-recipes-container h2 {
  margin-bottom: 16px;
  text-align: center;
}

.zero-recipes-container a {
  color: var(--secondary-color);
  font-weight: 600;
  transition: color 0.2s;
}

.zero-recipes-container a:hover {
  color: var(--secondary-darker);
}
