.explore-ingredients-area-page .area-select-container {
  background-color: var(--main-color);
  padding: 20px;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.explore-ingredients-area-page .area-select-container select {
  margin-left: 12px;
  background-color: #fff;
  width: 140px;
  border-radius: 5px;
  outline: none;
  padding: 8px;
}
