.explore-ingredients-area-page .area-select-container {
  background-color: var(--main-color);
  padding: 20px;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.explore-ingredients-area-page .area-select-container select {
  margin-left: 12px;
  background-color: #fff;
  width: 140px;
  border-radius: 5px;
  outline: none;
  padding: 8px;
}

.explore-ingredients-area-page .recipes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 40px;

  margin: 40px auto 80px;
  padding: 0 40px;
  max-width: 1200px;
}

.explore-ingredients-area-page .recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 5px;
  border: 1px solid black;
  padding-bottom: 15px;
  color: #000;

  transition: opacity 0.2s;
}

.explore-ingredients-area-page .recipe-card:hover {
  opacity: 0.7;
  color: var(--main-color)
}

.explore-ingredients-area-page .recipe-card img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .explore-ingredients-area-page .recipes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .explore-ingredients-area-page .recipes-container {
    grid-template-columns: 1fr;
  }

  .explore-ingredients-area-page .recipe-card img {
    height: 20vh;
  }

  .explore-ingredients-area-page .filters-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .explore-ingredients-area-page .filters-container label {
    width: 140px;
  }
}
